head

relative
	//header
		include examples/menu.pug
			
	main
		//#about
			h3 About
			p Less code, more functionality.
			
		//#pre
			h3 Pre
			pre.
				relative
					.rel-brick.f-1-12
		#grid
			include examples/grid.pug
			
		//#tabs
			include examples/tabs.pug
			
		//#headings
			include examples/headings.pug
			
	//.footer Developed by HarrySystems