include ../styles/include.pug
relative
	.rel-nav
		ul#menu
			li
				a(href="#") About
			li
				a(href="#grid") Grid
			li
				a(href="#headings") Headings

		a(href='#menu')#show &#9776;
		a(href='#')#hide &#10006;