include ../styles/include.pug
relative
	h3 Tabs
	.rel-tabs.default-theme
		label
			input(type='radio',name='c')
			span teste
			div
				- for(var i = 0; i < 5; i++)
					p teste teste teste teste teste teste teste teste
		label
			input(type='radio',name='c',checked)
			span teste
			div
				- for(var i = 0; i < 30; i++)
					p teste teste teste teste teste teste teste teste